<p>create-offer works!</p>

<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Tytuł</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Kategoria pojazdu</mat-label>
        <mat-select>
            <mat-option value="one">motocykl</mat-option>
            <mat-option value="two">osobowy</mat-option>
            <mat-option value="three">ciężarowy</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Marka</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Rok produkcji</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Przebieg</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Pojemność skokowa</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Pojemność skokowa</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Moc</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Rodzaj paliwa</mat-label>
        <mat-select>
            <mat-option value="one">motocykl</mat-option>
            <mat-option value="two">osobowy</mat-option>
            <mat-option value="three">ciężarowy</mat-option>
        </mat-select>
    </mat-form-field>
    <input class="ng-hide" id="input-file-id" type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Dodaj zdjęcie</label>

</mat-card>
