
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div *ngIf="offers.length == 0">
            <p>Nie masz dostępnych ofert.</p>
            <button mat-raised-button color="primary" routerLink="/offer/create" >Dodaj ofertę</button>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let offer of offers">
            <mat-card
                [style.cursor]="'pointer'"
                [routerLink]="[offer.id]"
                class="offer-card"

            >
                <mat-card-title> {{ offer.title }}</mat-card-title>
                <img
                    class="image"
                    mat-card-image
                    src="{{ offer.image }}"
                    alt="image"
                />
                <mat-card-content >
                    Rok produkcji:
                    <span>
                        {{ offer.manufacture_year }}
                    </span>
                    Przebieg:
                    <span>
                        {{ offer.mileage }}
                    </span>
                    <br>
                    Rodzaj paliwa:
                    <span>
                         {{ offer.fuel_category }}
                    </span>
                    Moc:
                    <span>
                        {{ offer.power }}
                    </span>
                    <br>
                    Data publikacji:
                    <span>
                         {{offer.pub_date}}
                    </span>
                </mat-card-content>
            </mat-card>
            <div class="navigation-buttons">

                <button class="publish-button" mat-raised-button color="primary"
                        (click)="publishOffer(offer)"
                        [ngClass]="{'green' : offer.isPublished, 'blue': !offer.isPublished}">
                    {{offer.isPublished ? "Opublikowane" : "Opublikuj"}}
                </button>
                <button class="edit-button" mat-raised-button color="yellow" routerLink="{{offer.id}}"> Edytuj</button>
                <button class="delete-button" mat-raised-button color="warn"  (click)="openDialog(offer.id, offer.title)" >Usuń ogłoszenie</button>
            </div>


        </div>
    </div>
</div>
