.content {
    padding: 20px;
    margin: 10px 50px 10px 50px;

    text-overflow: ellipsis


}


.offer-card {

    max-width: 500px;

    max-height: 4000px;

    border: 1px solid #ded9d9;

}

.image {

    height: 300px;

}

.mat-yellow {
    background-color: #ffbd03;
    color: #fff;
}

.green {
    background-color: green;
    color: #fff;
}

.blue {

    color: #fff;
}

.navigation-buttons {
    margin-top: 10px;
    margin-bottom: 30px;


}

.publish-button {
    margin-right: 4px;
}

.edit-button {
    margin-right: 4px;
}

.delete-button {
    float: right;
}

mat-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span {
    padding: 5px;
    font-size: 1.200em;
}
