.content {
    padding: 20px;
    margin: 10px 50px 10px 50px;

}


.offer-card {
    max-width: 600px;

    max-height: 600px;

    border: 1px solid #ded9d9;

}

.image {

    height: 300px;

}



/*.image{*/
/*  object-fit: cover; !*this makes the image in src fit to the size specified below*!*/
/*  width: 100%; !* Here you can use wherever you want to specify the width and also the height of the <img>*!*/
/*  height: 80%;*/
/*}*/




