<p>
    <mat-toolbar color="primary">
        <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with home icon"
            routerLink="/"
        >
            <mat-icon>home</mat-icon>
        </button>

        <span [style.cursor]="'pointer'" routerLink="/">MotoSell</span>
        <span *ngIf="userService.isLoggedIn" [style.cursor]="'pointer'" style="padding-left:30px;" routerLink="/offer/create">Stwórz ofertę</span>
        <span *ngIf="userService.isLoggedIn" [style.cursor]="'pointer'" style="padding-left:30px;" routerLink="/{{this.userService.username}}/offers">Moje oferty</span>



        <span class="example-spacer"></span>
        <a *ngIf="!userService.isLoggedIn" mat-button (click)="openDialog(registerComponent)"  target="_blank">Rejestracja</a>
        <a *ngIf="!userService.isLoggedIn" mat-button (click)="openDialog(loginComponent)"  target="_blank">Logowanie</a>
        <a *ngIf="userService.isLoggedIn" mat-button (click)="userService.logOut()"  target="_blank">Wyloguj</a>

        <span *ngIf="userService.isLoggedIn"> {{this.userService.username}} </span>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
        >
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

<!--             <span *ngIf="userService.isLoggedIn" [style.cursor]="'pointer'" style="padding-left:30px;" routerLink="/{{username}}/offers">Moje oferty</span>-->
            <button *ngIf="userService.isLoggedIn"  mat-menu-item routerLink="/{{this.userService.username}}/offers" >
                <mat-icon>view_list</mat-icon>
                <span>Moje oferty</span>
            </button>
            <button *ngIf="!userService.isLoggedIn" mat-menu-item (click)="openDialog(registerComponent)">
                <mat-icon>app_registration</mat-icon>
                <span>Rejestracja</span>
            </button>
            <button *ngIf="!userService.isLoggedIn" mat-menu-item (click)="openDialog(loginComponent)">
                <mat-icon>login</mat-icon>
                <span>Logowanie</span>
            </button>

            <button *ngIf="userService.isLoggedIn" mat-menu-item (click)="userService.logOut()" >
                <mat-icon>logout</mat-icon>
                <span >Wyloguj</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</p>



<router-outlet></router-outlet>
